# assembly variables
export SPECIES_NAME="Phocoena_sinus"                                # use underscore instead space, eg: Homo_sapiens
export ASSEMBLY_ID="mPhoSin1.pri"                                   # assembly ID
export ASSEMBLY="/my/folder/GCF_008692025.1.fna.gz"                 # path to the genome assembly, can be fa(.gz), fasta(.gz) or fna(.gz)

# pipeline variables:
export INSTALLATION_DIR="/my/folder/jATG"                           # path of the cloned jATG repo
export OUT_DIR="/my/folder/results"                                 # where the ../jATG/.. folder with all the results will be created
export TMPDIR="${OUT_DIR}/jATG/${SPECIES_NAME}/${ASSEMBLY_ID}/tmp"  # Default folder for temporary files, you can leave it like this

# conda-specific variables
export CONDA_BIN_DIR="/my/folder/conda/bin"

# singularity-specific variables
export SINGULARITY_LOAD="module load singularity"                   # comment this line if singularity is in PATH
export BIND_DIR="/my/folder/"

# slurm-specific variables
export USER_MAIL='my@email.com'
export MAIL_TYPE='END,FAIL'
export PARTITION='begendiv,main'
export QUEUE="standard"
