# assembly variables
export SPECIES_NAME="Elephas_maximus"       # Use underscore instead space, eg: Homo_sapiens
export ASSEMBLY_ID="mEleMax1"               # assembly ID

# reads variables
export SAMPLE_NAME="SAMN18477434"           # eg: Brown_Dog

# pipeline variables
export INSTALLATION_DIR="/home/jATG"        # path of the cloned jATG repo 
export OUT_DIR="/scratch/Elephant_project"  # where the ../jATG/.. folder with all the results will be created
export TMPDIR="/scratch/ddepanis/tmp"

# slurm-specific variables
export USER_MAIL='ddepanis@zedat.fu-berlin.de'
export MAIL_TYPE='END,FAIL'
export PARTITION='begendiv,main'
export QUEUE="standard"

# conda-specific variables
export CONDA_BIN_DIR="/path/to/conda/bin"

# singularity-specific variables
export SINGULARITY_LOAD="module load singularity" # comment this line if singularity is in path
export BIND_DIR="/scratch/ddepanis/"

