# assembly variables
export SPECIES_NAME="Gymnogyps_californianus" # use underscore instead space, eg: Homo_sapiens
export ASSEMBLY_ID="ASM1813914v2"             # assembly ID
export ASSEMBLY="/path/to/assembly.fasta"     # path to the genome assembly, can be gz

# reference (or related species) genome variables
export REF_SPECIES_NAME="Gallus_gallus"       # name of the reference genome (Optional). Leave the field empty "" if no data available 
export REF_ASSEMBLY="/path/to/ref_asm.fa"     # path to the reference genome assembly (Optional), can be gz.  Leave the field empty "" if no data available 
export REF_ID="bGalGal1"                      # reference ID

# pipeline variables:
export INSTALLATION_DIR="/home/jATG"          # path of the cloned jATG repo
export OUT_DIR="/scratch/Condor_project"      # where the ../jATG/.. folder with all the results will be created
export TMPDIR="/scratch/tmp"                  # folder for temporary files

# conda-specific variables
export CONDA_BIN_DIR="/path/to/conda/bin"

# slurm-specific variables
export USER_MAIL='ddepanis@zedat.fu-berlin.de'
export MAIL_TYPE='END,FAIL'
export PARTITION='begendiv,main'
export QUEUE="standard"
