# assembly variables
export SPECIES_NAME="Gymnogyps_californianus" # Use underscore instead space, eg: Homo_sapiens
export ASSEMBLY_ID="ASM1813914v2"

# reads variables
export SAMPLE_NAME="SAMN18477434" #eg: Brown_Dog

# pipelines variables
export INSTALLATION_DIR="/home/ddepanis/jATG" #/home/ddepanis/jATG
export OUT_DIR="/scratch/ddepanis/Condor_project/CaCo" # where ../jATG/.. folder will be created
export TMPDIR="/scratch/ddepanis/tmp"

# slurm-specific variables
export USER_MAIL='ddepanis@zedat.fu-berlin.de'
export MAIL_TYPE='END,FAIL'
export PARTITION='begendiv,main'
export QUEUE="standard"

# conda-specific variables
export CONDA_BIN_DIR="/scratch/ddepanis/Software/anaconda3/bin"

# singularity-specific variables
export SINGULARITY_LOAD="module load singularity"
export BIND_DIR="/scratch/ddepanis/"

