# variables for the stats pipeline:
export OUT_DIR="/scratch/ddepanis/Turtles/caretta/intermediates/jATG/hap2/2.1_gc"
export ASSEMBLY="/scratch/ddepanis/Turtles/caretta/intermediates/5_yahs/purged/hap2/yahs_hap2_scaffolds_final.fa" 
export GENOME_FILE="/scratch/ddepanis/Turtles/caretta/intermediates/jATG/hap2/1.1_stats/number_lengths_GC_Ns" # number_lengths_GC_Ns file created by the stats module (1.preliminary)
export OUT_PREFIX="Car_hap2" #Prefix given to output files

# conda-specific variables
export CONDA_BIN_DIR="/scratch/ddepanis/Software/anaconda3/bin"


# GC WINDOW PARAMETERS (DONT NEED TO BE ADJUSTED)
export WINDOW=100000 # window size to summarize GC content in
export MINSIZE="5" # min sequence length to plot in MB
